/* 초기화 */
* {margin:0; padding:0;}
body {font-family:'Helvetica',sans-serif;}
li {list-style:none;}
a {text-decoration:none; color:#000;}
body {min-width:760px;}


/* 헤더 */
html, body {
  margin:0 auto;
  overflow-x:hidden; overflow-y:auto;
}
header{
  background:#272422;
  width: 100vw;
  height: 140px;
}
.gnb {
  display:flex; 
  overflow:hidden;
  width:100%;
  max-width: 1300px;
  height: inherit;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  text-align : center;
}
.gnb_logo {
  margin:0;
}
.gnb_menu {
  width:83%;
}
.menu > ul {
  white-space: nowrap;
  align-items: center;
}
.menu > ul > li {
  display:inline-block;
  padding:calc(6% - 25px);
}
.menu > ul > li > a {color:white;}

.main1, .main2, .main3, .main4, .main5 {
  margin:0 auto;
  position:relative;
}

/* 이벤트 광고 */
.main_img_1 {
  display:block; 
  width:100vw; 
  max-width:1920px; 
  margin-left:auto; 
  margin-right:auto;
}

/* 이벤트 버튼 (삭제 예정)*/
.event_buttons {
  position: absolute;

  bottom:55px;
  right:20vw;
}
input {
  all:unset;
}
.event_button > label{
  background:url('푸터_로고.png');
  background-position:0px 0px;
  text-indent:-9999px;
  width:100px;
  right:50px;
  top:50px;

  
}

/* 공지사항 검색 */
.main2 {
  display:flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}
.main2_1 , .main2_2 {
  width:50vw;
  max-width:960px;
  height:205px;
}
.main2_1 {
  background-color: #ece4d8;
}
.main2_1_2 {
  float:right;
  width:100%;
  max-width:600px;
  margin-top:20px;
  line-height: 175%;
}
.main2 p.big {
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
}
.main2_1_2 > a.small {
  color:#949494;
  font-size: 13px;
}
.main2_1_2 > a.more {
  position: absolute;
  float:right;
  right:calc(50vw + 30px);
  bottom:25px;
}
.main2_2 {
  background: url(bg_redbutton_4.jpg);
}
.main2_2_1 {
  margin-left:40px;
  margin-top:20px;
}
.main2_2_2 {
  width:130px;
  height:40px;
  background-color:#af8967;
  text-align: center;
  margin-left:40px;
  margin-top:20px;
  color:#fff;
  line-height:40px; /* 세로 중앙 정렬 */
  cursor: pointer;
}

/* 메뉴 추천*/
.main3 {
  width:100vw;
  max-width:1920px;
  height:675px;
  background-color:#f5f4f2;
  text-align: center;
}

.main3_1 {
  padding-top:90px;
  padding-bottom:56px;
}
.main3_1 > p.big {
  font-size:40px;
  font-weight: 700;
}
.main3_2 {
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main3_2 > div {
  padding:calc(2% - 20px);
}
.main3_2 > div > p.bold {
  font-size:18px;
  font-weight: bolder;
  line-height: 200%;
  margin-top:20px;
}

/* 지원 게임 */
table {
  border:1px solid white;
  border-collapse: collapse;
}
tr, td {
  border:1px solid white;
  padding:5px;
}
.main4 {
  display:flex;
  justify-content: center;
  width:100vw;
  max-width:1920px;
  height:540px;
  background-color: #2e2d35;
}
.main4-1 {
  width:100vw;
  height:540px;
  max-width:1050px;
  color:#fff;
  background:url(bg_powergrid_2.jpg);
  background-position: center;
  background-size: 1050px;
  background-repeat: no-repeat;
}
.main4-2{
  position: relative;
  top:60px;
}
.main4-2 > p.bold {
  font-size:17px;
  font-weight: bold;
}
.main4-2 > p.title {
  margin-top:25px; 
  font-size:50px;
  font-weight:800;
  color: #dcba94;
}
.main4-2 > p.subtitle {
  font-size:25px;
  font-weight:bold;
  color: #dcba94;
}
.main4-2 > table {
  margin-top:20px;
  width:450px;
  height:40px;
  text-align: center;
}
.main4-2 > div {
  position: initial;
  margin-top:20px;
  line-height:180%;
  color:#a9a9b9;
}

/* 매장 찾기  */
.main5 {
  width:100vw;
  max-width:1920px;
  height:525px;
  background:url(bg_redbutton_3.png);
  background-position: center;
}
.main5 > div.main5_1 {
  width:50%;
  position:relative;
  left:calc(50% + 20px);
  top:150px;
}
.main5 p.very_big {
  font-size:45px;
  font-weight:900;
}
.main5 p.big {
  font-size:25px;
  font-weight: bolder;
}
.main5 p.normal {
  margin-top:20px;
  font-weight:500;
}
.main5_2 {
  position: relative;
  top:180px;
  left:calc(50% + 20px);
  width:130px;
  height:40px;
  background-color:#d61414;
  text-align: center;
  color:#fff;
  line-height:40px;
  cursor: pointer;
}

/* 푸터 */
footer {
  width:100vw;
  height:215px;
  background-color:#272422;
  color:#8c8c8c;
}
.footer {
  display:flex;
  overflow:hidden;
  width:100%;
  height:inherit;
  max-width: 1920px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
}
.footer1{
  margin-left:calc(4% - 30px);
  margin-right:calc(16% - 140px);
  line-height: 180%;
  font-size:15px;
  
}
.footer1 b{
  font-size:16px;
  font-weight: bolder;
}

.footer2 > .big {
  font-size:25px;
  font-weight: 900;
  line-height: 200%;
}

/* TOP BUTTON */
button {
  background-color:transparent;
  border:none;
  cursor: pointer;
}
.top_button {
  position:fixed;
  right:80px;
  bottom:85px;
}