/* 초기화 */
* {margin:0; padding:0;}
body {font-family:'Helvetica',sans-serif;}
li {list-style:none;}
a {text-decoration:none; color:#000;}
body {min-width:760px;}


/* 헤더 */
html, body {
  margin:0 auto;
  overflow-x:hidden; overflow-y:auto;
}
header{
  background:#272422;
  width: 100vw;
  height: 140px;
}
.gnb {
  display:flex; 
  overflow:hidden;
  width:100%;
  max-width: 1300px;
  height: inherit;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  text-align : center;
}
.gnb_logo {
  margin:0;
}

.gnb > div > img.gnb_logo {
  width:90px;
  height:90px;
}

.gnb_menu {
  width:83%;
}
.gnb_menu_nav > ul {
  white-space: nowrap;
}
.gnb_menu_nav > ul > li {
  display:inline-block;
  padding:calc(6% - 25px);
  margin:40px 0;
}
.gnb_menu_nav > ul > li > a {color:white;}

.mobile_menu {
  display:none;
}

.main1, .main2, .main3, .main4, .main5 {
  margin:0 auto;
  position:relative;
}

.gnb_logo_link > .gnb_facebook,
.gnb_logo_link > .gnb_insta {
  width:30px;
  height:30px;
}
/* hover */
nav li ul {
  display:none;
  position: absolute;
  top:178px;
  height:150px;
  text-align: left;
  font-size:15px;
  font-weight:500px;
  line-height:230%;
}

nav li a{
  display:block;
  color:#b2b2ae;
}

.LNB {
  display:none;
  position:absolute;
  top:140px;
  right:1px;
  width:100vw;
  height:215px;
  background-color: #332f2d;
  z-index: -1;
}

.gnb_menu:hover > .gnb_menu_nav li ul{
  display:block;
  position:absolute;
  z-index:2;
}

.LNB:hover,
ul:hover +.LNB{
  display:block;
  position:absolute;
  z-index:1;
}

/* (수정)08/04 버튼마다 배경 바뀌게 수정 */
/* 이벤트 광고 */
.main1 {
  width:100vw;
  max-width:1920px; 
}

.main1_bg {
  max-width:1920px; 
  margin-left:auto; 
  margin-right:auto;
}
input#event1:checked ~ div.main1_bg {
  width:100vw;
  content:url(../images/img_event_1.jpg);
}
input#event2:checked ~ div.main1_bg {
  width:100vw;
  content:url(../images/img_event_2.jpg);
}
input#event3:checked ~ div.main1_bg {
  width:100vw;
  content:url(../images/img_event_3.jpg);
}

/* 이벤트 버튼*/
.circle {
  margin: 0 auto;
  width: 1px;
  height: 1px;
  border: 8px solid #000;
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper {
  position:absolute;
  margin: 0 auto;
  padding: 7px;
}

input {
  display:none;
}

input:checked + label > div > .circle {
  border-color: #dcba94;
}

.event_button {
  z-index: 2;
}

#event1 + .event_button {
  position:absolute;
  bottom: 86px;
  right: calc(21vw + 60px);
}

#event2 + .event_button {
  position:absolute;
  bottom: 86px;;
  right: calc(21vw + 30px);
}

#event3 + .event_button {
  position:absolute;
  bottom: 86px;
  right:21vw;
}
/* 공지사항 검색 */
.main2 {
  display:flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}
.main2_left , .main2_right {
  width:50vw;
  max-width:960px;
  height:205px;
}
.main2_left {
  background-color: #ece4d8;
}
.main2_left_table {
  float:right;
  width:100%;
  max-width:600px;
  margin-top:27px;
  line-height: 160%;
}

@media (max-width: 1024px) and (min-width: 800px){
  .main2_left {
    width:calc(50vw - 40px);
    height:205px;
    padding-left:40px;
  }
}

h2.main_left_title,
h2.main2_right_title {
  margin-bottom:10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.main2 h2.pc {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.main2_left_table .category {
  color:#949494;
  font-size: 13px;
}
.main2_left_table > a.more {
  position: absolute;
  float:right;
  right:calc(50vw + 30px);
  bottom:25px;
}
.main2_right {
  background: url(../images/bg_redbutton_4.jpg);
}
.main2_right_content {
  margin-left:40px;
  margin-top:27px;
}
.main2_right_content > h2 + span.pc {
  margin-top:7px;

}
.main2_right_pc_box {
  width:130px;
  height:40px;
  background-color:#af8967;
  text-align: center;
  margin-left:40px;
  margin-top:20px;
  color:#fff;
  line-height:40px; /* 세로 중앙 정렬 */
  cursor: pointer;
}
.main2_right_mobile_box{
  display: none;
}
.mobile{
  display: none;
}

/* 메뉴 추천*/
.main3 {
  width:100vw;
  max-width:1920px;
  height:700px;
  background-color:#f5f4f2;
  text-align: center;
}

.main_top {
  padding-top:90px;
  padding-bottom:40px;
}
.main_top > .main3_title {
  font-size:40px;
  font-weight: 900;
}
.main_top > .main3_subtitle {
  font-size:17px;
  font-weight:600;
  padding-top:10px;
}
.main3_bottom {
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-items: top;
  text-align: center;
}
.main3_bottom > div {
  padding:calc(2.8% - 25px);
}
.main3_bottom > div > img {
  height:270px;
}
.main3_bottom > div > h2.menu_title {
  font-size:18px;
  font-weight: bolder;
  line-height: 200%;
  margin-top:20px;
}
.menu_subtitle {
  font-size:17px;
  font-weight:500;
}

/* (수정)08/05 버튼마다 내용과 배경 바뀌게 수정 */
/* 지원 게임 */
.main4 table {
  border:1px solid white;
  border-collapse: collapse;
  width: 450px;
}
.main4 tr, 
.main4 td {
  border:1px solid white;
  padding:5px;
}
.main4 {
  display:flex;
  justify-content: center;
  width:100vw;
  max-width:1920px;
  height:540px;
  background-color: #2e2d35;
}

.main4_box {
  position: relative;
  width:100vw;
  height:540px;
  max-width:1050px;
  color:#fff;
}

.main4_contents_1 {
  display: none;
}

.main4_contents_2 {
  display: none;
}

#game1:checked ~ .main4_contents_1 {
  display: block;
  height:540px;
  background:url(../images/bg_incan_1.jpg);
  background-position: center;
  background-size: 1050px;
  background-repeat: no-repeat;
}

#game2:checked ~ .main4_contents_2 {
  display: block;
  height:540px;
  background:url(../images/bg_powergrid_2.jpg);
  background-position: center;
  background-size: 1050px;
  background-repeat: no-repeat;
}

.main4_contents_1, 
.main4_contents_2{
  position: relative;
}
.main4_contents_1 > .main4_title,
.main4_contents_2 > .main4_title {
  font-size:17px;
  font-weight: bold;
}
.main4_contents_1 > span.game_title,
.main4_contents_2 > span.game_title {
  margin-top:25px; 
  font-size:50px;
  font-weight:800;
  color: #dcba94;
}
.main4_contents_1 > p.game_subtitle,
.main4_contents_2 > p.game_subtitle {
  font-size:25px;
  font-weight:bold;
  color: #dcba94;
}
.main4_contents_1 > table,
.main4_contents_2 > table {
  margin-top:20px;
  width:450px;
  height:40px;
  text-align: center;
}
.main4_contents_1 > div.game_content,
.main4_contents_2 > div.game_content {
  position: initial;
  margin-top:20px;
  line-height:180%;
  color:#a9a9b9;
}

/* 지원 게임 버튼*/
.game_button {
  position:absolute;
  bottom:68px;
  left:0px;
  z-index: 1;
}

#game2 + .game_button{
  position: absolute;
  left:27px;

}

.circle2 {
  margin: 0 auto;
  width: 1px;
  height: 1px;
  border: 7px solid #000;
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper2 {
  margin: 0 auto;
  padding: 6px;
}

input:checked + label > div > .circle2 {
  border-color: #dcba94;
}

/* 매장 찾기  */
.main5 {
  width:100vw;
  max-width:1920px;
  height:525px;
  background:url(../images/bg_redbutton_3.png);
  background-position: center;
}
.main5 > div.main5_contents {
  width:50%;
  float: right;
}
.main5 h2.main5_title {
  padding-top:85px;
  font-size:45px;
  font-weight:900;
}
.main5 h2.main5_subtitle {
  font-size:27px;
  font-weight:bolder;
}
.main5 h2.main5_content {
  margin-top:5px;
  font-size:17px;
  font-weight:500;
}
.main5_box {
  display: block;
  margin-top:37px;
  width:130px;
  height:40px;
  background-color:#d61414;
  text-align: center;
  color:#fff;
  line-height:40px;
  cursor: pointer;
}

/* 푸터 */
footer {
  width:100vw;
  height:215px;
  background-color:#272422;
  color:#8c8c8c;
}
.footer {
  display:flex;
  overflow:hidden;
  width:100%;
  height:inherit;
  max-width: 1920px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
}
.footer_logo > img {
  height:100px;
}
.footer1{
  margin-left:calc(4% - 30px);
  margin-right:calc(16% - 140px);
  line-height: 180%;
  font-size:15px;
  
}
.footer1 b{
  font-size:16px;
  font-weight: bolder;
}

.footer2 > .big {
  font-size:25px;
  font-weight: 900;
  line-height: 200%;
}

/* TOP BUTTON */
button {
  background-color:transparent;
  border:none;
  cursor: pointer;
}
.top_button {
  position:fixed;
  right:80px;
  bottom:85px;
}