  /* 초기화 */
  * {margin:0; padding:0;}
  body {font-family:'Helvetica',sans-serif;}
  li {list-style:none;}
  a {text-decoration:none; color:#000;}
  body {min-width:auto;}
  .pc{display: none;}
  
  /* 08/11 미디어쿼리 수정 */
  /* 헤더 */
  html, body {
    margin:0 auto;
    width:calc(100vw - 17px);
  }
  header{
    background:#272422;
    width: 100%;
    height: 81px;
    position: fixed;
    z-index:3;
  }
  .gnb {
    display:flex; 
    overflow:hidden;
    width: calc(100% - 40px);
    max-width: 767px;
    height: 53px;
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  
.gnb_logo_link, .gnb_menu_nav{
    display:none;
  }
  
  .gnb > div > img.gnb_logo {
    width:52px;
    height:52px;
    margin:0 auto;
  }
  
  .gnb_menu {
  
  }
  .mobile_menu {
    display: block;
    float:right;
  }
  
  .mobile_menu > img.mm {
    width:26px;
    height:22px;
  }
  
  .main1, .main2, .main3, .main4, .main5 {
    margin:0 auto;
    position:relative;
  }
  
  /* hover */
  nav li ul {
    display:none;
    position: absolute;
    top:178px;
    height:150px;
    text-align: left;
    font-size:15px;
    font-weight:500px;
    line-height:230%;
  }
  
  nav li a{
    display:block;
    color:#b2b2ae;
  }
  .gnb_menu:hover > .menu li ul{
    display:block;
    position:absolute;
    z-index:2;
  }
  
  .secret:hover,
  ul:hover +.secret{
    display:block;
    position:absolute;
    z-index:1;
  }
  
  /* 모바일 nav */
  input#mobile_nav {
    display: none;
  }

  label.mobile_nav_button {
    content:url(../images/img_mobilemenu.png)
  }

  div.mobile_nav{
    display: none;
  }

  div.logo {
    text-align: right;
    padding-right:16px;
  }

  div.logo > img {
    width:32px;
    height:32px;
    padding-left:4px;
  }

  input#mobile_nav:checked ~ div.mobile_nav {
    display: block;
    position: absolute;
    right:0px;
    top:0px;
    padding: 23px 0px;
    width:230px;
    height:100vh;
    background-color: #333333;
    text-align: left;
  }

  input#mobile_nav:checked ~ label.mobile_nav_button {
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    content:url('');
    background-color:#000;
    opacity:80%;
  }

  div.mobile_nav nav a {
    width:190px;
    height:20px;
    margin:0px 20px;
    padding:18px 0px;
  }

  div.mobile_nav nav a span {
    width: 20px;
    height: 25px;
    float:right;
    text-align: right;
    vertical-align: center;
    align-content: center;
  }

  label.mobile_arrow {
    width:10px;
    height:5px;
    content:url('../images/img_mobilearrow.png');
  }

  /* input#brand:checked ~ ul.brand a{
    display: block;
    width:270px;
    height:170px;
  }

  input#brand:checked ~ ul.brand li ul li a {
    display: block;
    width:190px;
    height:20px;
    margin:0px 20px;
    padding:18px 0px;
  } */
  

  /* 이벤트 광고 */
  .main1 {
    width:100%;
    max-width:767px; 
  }
  
  .main1_bg {
    max-width:767px; 
    margin-left:auto; 
    margin-right:auto;
  }
  input#event1:checked ~ div.main1_bg {
    width:100%;
    content:url(../images/bg_mobileevent_1.jpg);
  }
  input#event2:checked ~ div.main1_bg {
    width:100%;
    content:url(../images/bg_mobileevent_2.jpg);
  }
  input#event3:checked ~ div.main1_bg {
    width:100%;
    content:url(../images/bg_mobileevent_3.jpg);
  }
  
  .empty {
    width: 100%;
    height: 81px;
  }
  
  /* 이벤트 버튼*/
  .circle {
    margin: 0 auto;
    width: 1px;
    height: 1px;
    border: 5px solid #410407;
    border-radius: 50%;
    cursor: pointer;
    z-index:2;
  }
  .wrapper {
    margin: 0 auto;
    padding: 6px;
  }
  
  input {
    display:none;
  }
  
  input:checked + label > div > .circle {
    border-color: #dcba94;
  }
  
  
  #event3 + .event_button {
    position:absolute;
    bottom: 30px;
    right:calc(50% - 15px);
  }
  
  #event2 + .event_button {
    position:absolute;
    bottom: 30px;
    right:calc(50% + 10px);
  }
  
  #event1 + .event_button {
    position:absolute;
    bottom: 30px;
    right:calc(50% + 35px);
  }
  
  /* 공지사항 검색 */
  .main2_notice {
    display: none;
  }
  
  .main2 {
    display:block;
    overflow:hidden;
    height:183px;
  }
  .main2_search {
    width:100%;
    height:183px;
    max-width:767px;
    background-image: url(../images/bg_redbutton_1.jpg);
  }
  
  .main2_search > div {
    width:100%;
    padding:33px 0px 36px;
  }
  h2.main2_search_title {
    height:17px;
    margin-bottom:0px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
  }
  
  .main2_search_content:after {
    display: block;
    content:'방문하시려는 매장의\A 게임 보유여부를 확인하세요!';
    white-space: pre;
    height:40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  
  .main2_search_content {
    margin: 0 0 20px;
  }
  .main2_search_box:after {
    display: block;
    content:"자세히보기";
    height:19px;
    margin:0px;
    font-size: 15px;
    font-weight: 900;
    line-height: 19px;
  }
  .main2_search_box {
    width:75px;
    height: 18px;
    padding: 8px 62px; 
    background-color: transparent;
    border:1.5px solid #7B5C40;
    border-radius: 3px;
    color:#7B5C40;
    text-align: center;
    margin:0 auto;
    cursor: pointer;
  }
  /* 메뉴 추천*/
  .main3 {
    width:100%;
    max-width:767px;
    height:285.5px;
    padding: 35px 20px 58px;
    background-color:#f5f4f2;
    text-align: center;
  }
  
  .main3_box {
    max-width:767px;
    margin:0 auto;
  }
  
  .main3_title {
    height: 40px;
    font-size:36px;
    font-weight: 900;
    color:#19140f;
    line-height: 40px;
  }
  .main3_subtitle_box {
    height:36px;
  }
  .main3_subtitle {
    height: 16px;
    font-size:14px;
    font-weight:600;
    line-height: 14px;
  }
  .main3_menu {
    display: flex;
    overflow:hidden;
    width:175%;
    justify-content: space-between;
    align-items: top;
    text-align: center;
  }
  .main3_menu > div {
    width:23%;
  }
  .main3_menu div img {
    width:140px;
    height:157.5px;
    background-color:#EDECEA
  }
  .main3_menu > div > h2.menu_title {
    font-size:14px;
    font-weight: bolder;
    line-height: 200%;
    margin-top:5px;
  }
  .menu_subtitle {
    font-size:12px;
    font-weight:500;
  }
  
  /* (수정)08/05 버튼마다 내용과 배경 바뀌게 수정 */
  /* 지원 게임 */
  .main4 {
    display:block;
    width:100%;
    height:488px;
    background-color: #2e2d35;
  }
  
  .main4_button_box {
    width:95%;
    height:448px;
  }
  .main4_bg_1,
  .main4_bg_2,
  .main4_contents_1 > table,
  .main4_contents_2 > table {
    display: none;
  }
  
  #game1:checked ~ .main4_bg_1 {
    display: block;
    position: relative;
    width:100%;
    height:100%;
    max-width:1050px;
    color:#fff;
    align-items: center;
    background:url(../images/bg_incan_2.jpg);
    background-size: 700px;
    background-repeat: no-repeat;
  }
  
  #game1:checked ~ .main4_bg_1 > .main4_contents_1{
    display: block;
    top:24px;
    left:20px;
  }
  
  #game2:checked ~ .main4_bg_2 {
    display: block;
    position: relative;
    width:100%;
    height:100%;
    max-width:1050px;
    color:#fff;
    align-items: center;
    background:url(../images/bg_powergrid_1.jpg);
    background-size: 700px;
    background-repeat: no-repeat;
  }
  
  #game2:checked ~ .main4_bg_2 > .main4_contents_2{
    display: block;
    top:24px;
    left:20px;
  }
  .main4_contents_1, 
  .main4_contents_2{
    position: relative;
    
  }
  .main4_contents_1 > .main4_title,
  .main4_contents_2 > .main4_title {
    display:block;
    font-size:14px;
    font-weight: bold;
  }
  .main4_contents_1 > span.game_title,
  .main4_contents_2 > span.game_title {
    display: block;
    height:40px;
    margin-top:248px; 
    font-size:36px;
    font-weight:800;
    text-align: center;
    line-height: 40px;
    color: #dcba94;
  }
  .main4_contents_1 > p.game_subtitle,
  .main4_contents_2 > p.game_subtitle {
    margin-bottom:11px;
    font-size:16px;
    font-weight:bold;
    text-align: center;
    color: #dcba94;
  }
  
  .main4_contents_1 > div.game_content,
  .main4_contents_2 > div.game_content {
    position: initial;
    margin-bottom:14.4px;
    font-size:14px;
    line-height:140%;
    color:#a9a9b9;
  }
  
  .main4_contents_1 > div.game_content > p,
  .main4_contents_2 > div.game_content > p {
    float: left;
    width:100%;
    max-width:380px;
    height:40px;
    text-align: center;
  }
  
  /* 지원 게임 버튼*/
  .game_button {
    position:absolute;
    bottom:20px;
    z-index: 1;
  }
  
  #game1 + .game_button{
    position: absolute;
    left:calc(50% + 10px);
  }
  
  #game2 + .game_button{
    position: absolute;
    left:calc(50% - 35px);
  }
  
  .circle2 {
    margin: 0 auto;
    width: 1px;
    height: 1px;
    border: 5px solid #000;
    opacity: 0.7;
    border-radius: 50%;
    cursor: pointer;
  }
  .wrapper2 {
    margin: 0 auto;
    padding: 6px;
  }
  
  input:checked + label > div > .circle2 {
    border-color: #dcba94;
  }
  
  /* 매장 찾기  */
  
  .main5_title,
  .main5_subtitle {
    display: none;
  }
  .main5 {
    width:100%;
    height:340px;
    background-image:url(../images/bg_redbutton_2.jpg);
    background-color:#D9E5FF;
    background-position: center;
  }
  
  .main5_content > h2 {
    display: none;
  }
  .main5_content::before {
    display: block;
    content: '매장 검색하기';
    font-size:20px;
    font-weight:700;
    text-align: center;
    margin-top:30px;
  }
  
  .main5_content:after {
    display: block;
    height:40px;
    margin-bottom:20px;
    content: '즐거움 가득한 레드버튼 매장을\a미리 만나보세요!';
    white-space:pre;
    font-size:14px;
    font-weight:500;
    text-align: center;
  }
  
  .main5 > div.main5_contents {
    width:100%;
    float: center;
  }
  
  span.main5_box {
    display: none;
  }
  .main5_contents:after {
    display: block;
    content:'자세히 보기';
    width:194.7px;
    height:37px;
    line-height: 37px;
    margin: 0 auto;
    background-color:transparent;
    text-align: center;
    color:#7B5C40;
    border:1px solid #7B5C40;
    border-radius: 3px;
    line-height:40px;
    cursor: pointer;
    font-size:15px;
    font-weight: 700;
    cursor: pointer;
  }
  
  /* 푸터 */
  footer {
    width:100%;
  }
  
  .footer_logo {
    display: none;
  }
  
  .footer {
    display:block;
    width:100%;
    height:297px;
    background-color:#272422;
    color:#8c8c8c;
    padding: 24px 0px 30px;
  }
  
  .footer_contents {
    display: flex;
    width:100%;
  }
  .footer_number {
    width:60%;
    margin-left:20px;
    padding-top:10px;
  }
  .footer_number > .phone_number {
    margin-bottom:8px;
    font-size:28px;
    font-weight: 900;
    line-height: 24px;
  }
  
  .footer_number > .opening_hours {
    font-size:13px;
    font-weight: 500;
    line-height: 150%;
  }
  
  .footer_ico {
    display: flex;
    width:40%;
    height: 82px;
    justify-content: end;
    align-items: flex-end;
    margin-right:20px;
  }
  
  .footer_ico img {
    width:32px;
    height:32px;
    padding-right:8px;
  }
  
  .footer_info{
    display: block;
    width:calc(100% - 40px);
    height:150px;
    margin-top : 34px;
    padding : 30px 20px 0px;
    border-top: 1px solid #333;
    font-size:13px;
    text-align: center;
  }
  
  .footer_info p strong {
    font-size:13px;
    font-weight:900px;
  }
  
  .footer_info > p.address {
    font-size:13px;
    line-height: 180%;
  }
  .footer_info > p.copyright {
    margin:14.4px 0;
    height:24px;
    font-size:13px;
  }
  .address br {
    display: block;
  }
  .address span {
    display: none;
  }
  
  /* TOP BUTTON */
  .top_button {
  display: none;
  }